[submodule "gem5"]
	path = gem5
	url = https://github.com/gem5/gem5.git
[submodule "coralnpu"]
	path = coralnpu
	url = https://github.com/google-coral/coralnpu.git
[submodule "vortex"]
	path = vortex-gpu/vortex
	url = https://github.com/vortexgpgpu/vortex.git
